<!doctype html>
<html lang="pl">
    <head>
        <link rel="stylesheet" href="../static/bootstrap.css">
        <title>stonkbot - about</title>
    </head>
    <body>
        <div class="container-md" style="max-width: 75%; margin-top:10%;">
            <h2>about</h2>
            <p>it's a stock scanner based on <a href='https://www.reddit.com/user/alexsmith2332/'>u/alexsmith2332's</a> configuration from <a href='https://www.reddit.com/r/pennystocks/comments/l36uwg/a_scanner_which_has_got_me_a_pretty_good_success/'>this</a> post, containing some more improvements just to be safer</p>
            <p>it's checking indicators such as</p>
            <ul>
                <li>20, 50, 200 day SMA less than current price</li>
                <li>daily price change +2%</li>
                <li>relative volume >3</li>
                <li>current volume >1M</li>
                <li>good recommendations</li>
                <li>price to book ratio > 1</li>
            </ul>
            <p>feel free to contact me - <a href="mailto:zyxx0219@gmail.com">mail</a></p>
            <p><strong>disclaimer: i am not a financial advisor, you should do your own dd before investing your money</strong></p>
            <h2>how to use it?</h2>
            <p>data refreshes everyday at 2PM CET, that's something around 8AM EST</p>
            <a href="/">screener</a>
        </div>
    </body>
</html>