<!doctype html>
<html lang="pl">
    <head>
        <link rel="stylesheet" href="../static/bootstrap.css">
        <title>stonkbot - about</title>
    </head>
    <body>
        <div class="container-md" style="max-width: 75%; margin-top:10%;">
            <h2>co to jest</h2>
            <p>jest to skaner, którego można używać do szukania ciekawych spółek, opiera się na kilku wskaźnikach AT i innych</p>
            <ul>
                <li>20, 50, 200 day SMA</li>
                <li>dzienna zmiana ceny +2%</li>
                <li>relative volume >3</li>
                <li>current volume >1M</li>
                <li>dobre rekomendacje od analityków</li>
                <li>i inne</li>
            </ul>
            <p>jezeli masz jakies sugestie, pytania - <a href="mailto:zyxx0219@gmail.com">pisz smialo</a></p>
            <p><strong>nie jestem doradcą finansowym i w żadnym wypadku nie powinieneś/nie powinnaś się kierować tym skanerem - jeżeli to robisz, robisz to na własną odpowiedzialność. zawsze rób swoje DD</strong></p>
            <h2>jak tego używać</h2>
            <p>włączyć przed otwarciem giełdy, przelecieć przez wyświetloną listę i wybrać perełki na podstawie własnej, dodatkowej analizy</p>
            <a href="/">screener</a>
        </div>
    </body>
</html>